<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <!-- "Add to Cargo Hold" button goes here. -->
            <button [class.active] = "activeButton" (click) = "addItem(item.name, item.mass)" [disabled] = "disableButton()">Add to Cargo Hold</button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass] = "nearMax()">Mass Budget Remaining: {{<!-- Calculate mass remaining here. -->}} kg</p>
    <button (click) = "emptyHold()">Empty Hold</button>
</div>

