<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems; index as i">
            <!-- "Add to Cargo Hold" button goes here. -->
            <!-- <button [class.active] = "activeButton" (click) = "addItem(item.name, item.mass)" [disabled] = "">Add to Cargo Hold</button> -->
            <button [class.active]="item.mass+cargoMass <= maximumAllowedMass && cargoHold.length < maxItems" [disabled]="item.mass+cargoMass > maximumAllowedMass || cargoHold.length >= maxItems" (click)="nearCapacity = addItem(item.name, item.mass)">
                Add to Cargo Hold
            </button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass] = "nearMax()">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <button (click) = "emptyHold()">Empty Hold</button>
</div>

